%h2 Request Luanch Notification
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  = f.input :email, :placeholder => 'name@example.com'
  = f.submit "Request Invitation"
