<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="content-Type" />
	</head>
	<body>
		<h1>Welcome</h1>
		<p>
			We have received yoru request for an invitation to i-hookah.com.
		</p>
		<p>
			We'll contact you when we launch.
		</p>
	</body>
</html>